<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @member.full_name %> edited hot button list.</h1>
    <p><%= @member.full_name %>, a member of client <%= @member.client.name %>, has edited their hot button list.</p>
  </body>
</html>