<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @member.full_name %> viewed contract.</h1>
    <p><%= @member.full_name %>, a member of client <% @member.client.name %>, has accessed their contract page.</p>
  </body>
</html>