<h1>Edit Hot Button List</h1>

<%= form_tag(client_update_hotbutton_path(@client), method: :put) do -%>
<p>Use this space to list placed you'd like your janitorial team to pay extra attention to when we clean.  For example, you might say, 'Please wipe down my computer screen every night with a dry cloth,' and we will pay special attention to those items!</p>
<ol id='EditHotButtonList'>
  <% @client.hot_button_items.each do |item| %>
    <li>
      <input type='text' name='hotbutton_item[]'
        value='<%= item %>' class='hotbutton_item'></li>
    </li>
  <% end %>
</ol>

<%= submit_tag "Save",  class:"btn btn-primary"  %>
    <%= link_to 'Cancel', policy(@client).show? ? client_path(@client) : root_path, class:'btn btn-danger' %>
<% end %>