<h1>Clients Root</h1>

<p><a href="mailto:ron@rtest.test" target="_blank">Service Request</a></p>
<% if current_user.client.contracts.last %>
  <p><%= link_to 'Contract', client_contract_path(current_user.client, current_user.client.contracts.last) %>
  </p>
<% end %>
<p><%= link_to 'Contact Us', contact_us_path %></p>
<% if current_user.client.schedules.last %>
  <p><%= link_to 'Schedule', client_schedule_path(current_user.client, current_user.client.schedules.last) %>
  </p>
<% end %>


<% if current_user.client.staff %>
  <%= link_to 'See My Janitorial Lead' ,staff_path(current_user.client.staff) %>
<% end %>