/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Colors for logo are: #8DC63F and #0073AE; */

html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

//Base styling
$text-color: #8DC63F;
$link-color: #0073AE;

// Navbar baground
$navbar-default-bg: #8DC63F;
$navbar-default-border: #0073AE;

// ?
// $navbar-default-color: #0073AE;

//Navbar link coloring
$navbar-default-link-color: #0073AE;
$navbar-default-link-hover-color: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  padding-bottom:30px;
}

.navbar > .container .navbar-brand{
  margin-top: 30px;
  background-image: image-url('JaniTek-Logo-web.png');
  background-size: 100% 100%;
  width:270px;
  height:85px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  .hiddentext{ display: none }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway";
}

h1 {
  text-align: center;
}

#logged_in_user{
  padding:15px;
  display:block;
  color: #000;
  a{
    color :#0073AE;
  }
}

button, input, optgroup, select, textarea{
  color:#6DA60F;
}

.container .pagination-div{
  a, span, em{
    display:block;
    float:left;
    margin-right:4px;
    margin-bottom:8px;
    padding: 0.2em 0.5em;
  }
  .disabled{
  }
  .current{
    font-weight:bold;
    border:1px solid #eee;
  }
  a{
    text-decoration: none;
    border: 1px solid #444;
    &:hover, &:focus{
      border-color:gray;
    }
  }
}

.btn-command{
  min-width:100%;
  font-size:150%;
}

.user_profile{
  color: black;
  
  h1 {
    font-family: "Raleway";
  }
  
  .avatar, h2, h3{
    text-align: center;
  }
}

.jumbotron{
  border:1px solid #0000A0;
}

.searchbox{
   text-align:right;
}

.breadcrumbs-bar{
  background:#eee;
  padding:5px 0;
  margin-bottom:15px;
}

.breadcrumb-details {
  line-height: 35px;
}

#add-item-control{
  text-align:right;
  margin-bottom: 10px;
}

.list-button {
  border: 0px;
  margin:10px;
  a {
    text-align: center;
    min-height:40px;
    padding:10px;
    display: block;
    color:#fff;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:#0073ae;
  }
  
  a:hover{
    background: #0087CC;
    text-decoration: none;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: #dddddd;
  min-height: 160px;
}

.navbar-header {
  float: none;
}

#navbar {
  margin-top: 1em;
}

#navbar .navbar-nav > li > a {
  padding: 0 10px;
  border-right: 1px solid #ddd;
  display: block;
}

#navbar .navbar-nav > li:first-child > a {
}

#navbar .navbar-nav > li:last-child > a {
  border-right: 0;
}

.navbar-static-top > .container {
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #014569;
}

#navbar .navbar-nav > li.active > a {
  font-weight: bold;
  color: #0073ae;
}

.main-container {
  min-height:100%;
  position:relative;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #323232;
  border-top: 8px solid #d8d8d8;
  height: 210px;
}

.footer-wrapper {
  color: #bcbcbc;
  margin: 0px auto;
  padding: 0px 20px;
  max-width: 960px;
  width: 100%;
  height:150px;
}

div.footer-container {
  margin-top: 25px;
}

div.copyright-container {
  background-color: #232323;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.main-container > .body-container {
  padding-bottom: 250px;
}

#client-index-list {
  font-size: 100%;
}

.body-container > h1 {
  font-size: 18px;
}

h1.page-header-title {
  color: #282828;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
  margin: 0px 25px 0px 10px;
  float: left;  
  #client-home-connect{
    font-size: 200%;
    span{
      font-weight:bold;
      font-style: italic;
    }
  }
}

div.page-header-gimmick {
  overflow: hidden;
  padding-top: 25px;
  margin-right: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d8d8d8;
}

div.header-title-section {
  margin-bottom: 10px;
}

div.header-overlay-right {
  position: absolute;
  right: 0px;
  left: 55%;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #8ec63f;
  height: 160px;
}

.navbar-right li {
  display: block;
  float: none;
  margin: 15px 0;
  text-align: right;
  line-height: 1.3em;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 100px;
  padding-right: 10px;
  margin-top: 15px;
  font-size: 25px;
  border-right: 3px solid white;
}

#logged_in_user,
.navbar-right.navbar-nav > li > a {
  padding: 0;
  color: white;
}
#logged_in_user, .navbar-right.navbar-nav > li > span{
  line-height: 25px;
}

.footer-logo {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
}

.footer-column {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin: 15px auto;
}

.footer-column h3 {
  font-size: 18px;
}

.footer-column p {
  margin: 5px 0;
}

.footer-column.footer-right {
  margin-top:0;
}

.footer-column.footer-right .footer-column-inside {
  float: right;
}

.identity-info {
  color: black;
  text-align: left;
  margin-bottom: 10px;
}

.identity-info h1 {
  text-align: left;
  font-family: Raleway;
}

.client-links-wrapper {
  color: black;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}

table td {
  padding:10px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr:first-child td {
  border-top: 1px solid #e0e0e0
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

@media all and (max-width: 999px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #999999;
}

.logo-wrapper-small img,
.logo-wrapper img {
  max-width: 100%;
  max-height: 200px;
}

.edit-button-wrapper {
  text-align: right;
}

.new-member-wrapper {
  margin-top: 10px;
}

.list-element {
  margin-bottom: 10px;
}

.list-element .list-element-inside {
  border: 1px solid #ddd;
  padding: 0 10px;
}

.list-element .list-element-inside h3 {
  margin-top: 10px;
}

.list-wrapper {
  margin-top: 10px;
}

ul.list-wrapper {
  list-style-type: none;
  padding-left: 0px;
}

ul.list-wrapper li {
  margin-bottom: 5px;
}

ul.list-wrapper .btn {
  width: 100%;
}

.logo-wrapper-small {
  text-align: center;
  display: none;
}

.member-list .inside {
  padding: 0 5px;
}

.member-list > div:first-child .inside {
  padding-left: 0;
}

.member-list > div:last-child .inside {
  padding-right: 0;
}

.member-list a {
  min-width: 100%;
}

.member-title {
  color: black;
}

.submit-wrapper {
  text-align: right;
}

.submit-wrapper button {
  border: 0;
  background: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

@media all and (max-width: 991px) {
  .logo-wrapper-small {
    display: block;
  }
  .logo-wrapper {
    display: none;
  }
}

/*Mobile Query*/
@media all and (max-width: 765px) {
  .logo-wrapper-small {
    display: block;
  }
  
  table {
    width: 100%;
  }
  
  .logo-wrapper {
    display: none;
  }
  
  .header-overlay-right {
    display: none;
  }
  
  #logged_in_user,
  .navbar-right.navbar-nav > li > a {
    padding: 0;
    color: #333;
  }
  
  .navbar-right.navbar-nav > li {
    display: block;
    text-align: right;
  }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
    font-size: 14px;
    text-align: right;
    padding-right: 0;
    margin-right: 75px;
    margin-top: 15px;
    border: 0;
  }
  
  .navbar-right li {
    margin: 0px;
  }
  
  #navbar .navbar-nav > li > a {
    border-right: 0;
    
  }
  
  .footer-container {
    position: relative;
    bottom: auto;
    border-top: 8px solid #d8d8d8;
    height: auto;
  }
  
  .footer-wrapper {
    color: #bcbcbc;
    margin: 0px auto;
    padding: 0px 20px;
    height:auto;
  }
  
  .main-container > .body-container {
    padding-bottom: 30px;
  }
}

@media all and (max-width: 490px) {
  .navbar-nav.navbar-right:last-child {
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .navbar-brand {
    float: none;
    display: inline-block;
  }
  
  .navbar-right.navbar-nav > li {
  display: inline-block;
  text-align: center;
  }
  
}