/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Colors for logo are: #8DC63F and #0073AE; */

html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-x: hidden;
}

//Base styling
$text-color: #8DC63F;
$link-color: #0073AE;

// Navbar baground
$navbar-default-bg: #8DC63F;
$navbar-default-border: #0073AE;

// ?
// $navbar-default-color: #0073AE;

//Navbar link coloring
$navbar-default-link-color: #0073AE;
$navbar-default-link-hover-color: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  padding-bottom:30px;
}

.navbar > .container .navbar-brand{
  margin-top: 30px;
  background-image: image-url('JaniTek-Logo-web.png');
  background-size: 100% 100%;
  width:270px;
  height:85px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  .hiddentext{ display: none }
}



h1{
  text-align: center;
}

#logged_in_user{
  padding:15px;
  display:block;
  color: #000;
  a{
    color :#0073AE;
  }
}

button, input, optgroup, select, textarea{
  color:#6DA60F;
}

.container .pagination-div{
  a, span, em{
    display:block;
    float:left;
    margin-right:4px;
    margin-bottom:8px;
    padding: 0.2em 0.5em;
  }
  .disabled{
  }
  .current{
    font-weight:bold;
    border:1px solid #eee;
  }
  a{
    text-decoration: none;
    border: 1px solid #444;
    &:hover, &:focus{
      border-color:gray;
    }
  }
}

.btn-command{
  min-width:100%;
  font-size:150%;
}

.user_profile{
  .avatar, h2, h3{
    text-align: center;
  }
}

.jumbotron{
  border:1px solid #0000A0;
}

.searchbox{
   text-align:right;
}

.breadcrumbs-bar{
  background:#eee;
  padding:5px 0;
  margin-bottom:30px;
}

#add-item-control{
  text-align:right;
  padding:20px;
}

.list-button{
  background:#ADD8E6;
  border: 1px solid #33f;
  min-height:40px;
  margin:10px;
  padding:10px;
  a, a:hover{
    color:#000;
    text-decoration: underline;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: #dddddd;
  min-height: 160px;
}

.navbar-header {
  float: none;
}

#navbar {
  margin-top: 1em;
}

#navbar .navbar-nav > li > a {
  padding: 0 10px;
  border-right: 1px solid #ddd;
  display: block;
}

#navbar .navbar-nav > li:first-child > a {
}

#navbar .navbar-nav > li:last-child > a {
  border-right: 0;
}

.navbar-static-top > .container {
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #014569;
}

#navbar .navbar-nav > li.active > a {
  font-weight: bold;
  color: #0073ae;
}

.main-container {
  min-height:100%;
  position:relative;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #323232;
  border-top: 8px solid #d8d8d8;
  height: 210px;
}

.footer-wrapper {
  color: #bcbcbc;
  margin: 0px auto;
  padding: 0px 20px;
  max-width: 960px;
  width: 100%;
  height:150px;
}

div.footer-container {
  margin-top: 25px;
}

div.copyright-container {
  background-color: #232323;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.main-container > .body-container {
  padding-bottom: 250px;
}

#client-index-list {
  font-size: 100%;
}

.body-container > h1 {
  font-size: 18px;
}

h1.page-header-title {
  color: #282828;
}

h1.page-header-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
  margin: 0px 25px 0px 10px;
  float: left;
}

div.page-header-gimmick {
  overflow: hidden;
  padding-top: 25px;
  margin-right: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d8d8d8;
}

div.header-title-section {
  margin-bottom: 10px;
}

div.header-overlay-right {
  position: absolute;
  right: 0px;
  left: 55%;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #8ec63f;
  height: 160px;
}

.navbar-right li {
  display: block;
  float: none;
  margin: 15px 0;
  text-align: right;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 100px;
  padding-right: 10px;
  margin-top: 30px;
  font-size: 25px;
  border-right: 3px solid white;
}

#logged_in_user,
.navbar-right.navbar-nav > li > a {
  padding: 0;
  color: white;
}

.footer-logo {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
}

.footer-column {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin: 15px auto;
}

.footer-column h3 {
  font-size: 18px;
}

.footer-column p {
  margin: 5px 0;
}

.footer-column.footer-right .footer-column-inside {
  float: right;
}

@media all and (max-width: 999px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #999999;
}

/*Mobile Query*/
@media all and (max-width: 765px) {
  .header-overlay-right {
    display: none;
  }
  
  #logged_in_user,
  .navbar-right.navbar-nav > li > a {
    padding: 0;
    color: #333;
  }
  
  .navbar-right.navbar-nav > li {
    display: block;
    text-align: right;
  }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
    font-size: 14px;
    text-align: right;
    padding-right: 0;
    margin-right: 75px;
    margin-top: 15px;
    border: 0;
  }
  
  .navbar-right li {
    margin: 0px;
  }
  
  #navbar .navbar-nav > li > a {
    border-right: 0;
    
  }
  
  .footer-container {
    position: relative;
    bottom: auto;
    border-top: 8px solid #d8d8d8;
    height: auto;
  }
  
  .footer-wrapper {
    color: #bcbcbc;
    margin: 0px auto;
    padding: 0px 20px;
    height:auto;
  }
  
  .main-container > .body-container {
    padding-bottom: 30px;
  }
}

@media all and (max-width: 490px) {
  .navbar-nav.navbar-right:last-child {
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .navbar-brand {
    float: none;
    display: inline-block;
  }
  
  .navbar-right.navbar-nav > li {
  display: inline-block;
  text-align: center;
  }
  
}