// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#client-index-list{
  font-size:250%;
  .col-md-3{
    margin-bottom:20px;
  }
}

.identity-info{
  text-align: center;
}

ol > li > input{
  margin-bottom: 8px;
}