
<div class="footer-container">
  <div class="footer-wrapper">
    <div class="footer-inside">
      <div class="footer-column footer-left">
        <img class="footer-logo" src="<%= asset_path('Green-logo-web-150x150.png') %>">
      </div>
      <div class="footer-column footer-right">
        <div class="footer-column-inside">
          <h3 class="footer-title">CONTACT US</h3>
          <div class="footer-content">
            <p>San Joaquin County</p>
            <p>San Diego County</p>
            <p>(209) JANI-TEK</p>
            <p>info@janitek.net</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-container">
    Copyright &copy; <%= Time.now.year %> JaniTek, Inc. All rights reserved.
  </div>
</div>